#!/usr/bin/env python
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("min_obstacle_height", double_t, 0, "Minimum obstacle height in meters", 0.0, -10.0, 10.0)
gen.add("max_obstacle_height", double_t, 0, "Maximum obstacle height in meters", 2.0, -10.0, 10.0)
gen.add("mean_k", int_t, 0, "Number of nearest neighbors for statistical outlier removal", 50, 1, 1000)
gen.add("std_dev_mul_thresh", double_t, 0, "Standard deviation multiplier threshold for outlier removal", 1.0, 0.0, 10.0)
gen.add("voxel_min_points", int_t, 0, "Minimum points per voxel", 1, 1, 100)

exit(gen.generate("spatio_temporal_voxel_layer", "spatio_temporal_voxel_layer", "NoiseFilter"))
